<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_CLASS" value="Lemric\Sail\Tests\Fixtures\TestKernel" />
        <server name="KERNEL_DIR" value="tests/Fixtures/" />
    </php>
    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>
</phpunit>
